.DS_Store
node_modules
/build
/.svelte-kit
.env
.env.*
!.env.example
.vscode
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
script.js
script.ts
app.yaml
*.temp.js
*.temp.ts
*.old.*
*-old
sc/*
*.ds.ts